In [2]:
import numpy as np
import pandas as pd

In [22]:
m_cols = ["label","message","idf",'dsa','ada']

In [23]:
data = pd.read_csv('spam.csv', sep=',', names=m_cols , encoding='latin-1')

In [24]:
data.head()

  label                                            message  idf  dsa  ada
0    v1                                                 v2  NaN  NaN  NaN
1   ham  Go until jurong point, crazy.. Available only ...  NaN  NaN  NaN
2   ham                      Ok lar... Joking wif u oni...  NaN  NaN  NaN
3  spam  Free entry in 2 a wkly comp to win FA Cup fina...  NaN  NaN  NaN
4   ham  U dun say so early hor... U c already then say...  NaN  NaN  NaN

In [42]:
data.head()

  label                                            message
1   ham  Go until jurong point, crazy.. Available only ...
2   ham                      Ok lar... Joking wif u oni...
3  spam  Free entry in 2 a wkly comp to win FA Cup fina...
4   ham  U dun say so early hor... U c already then say...
5   ham  Nah I don't think he goes to usf, he lives aro...

In [45]:
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [46]:
X = data['label']

In [47]:
y = data['message']

In [48]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30)

In [50]:
X_train = np.array(X_train)
X_test = np.array(X_test)
y_test = np.array(y_test)
y_train = np.array(y_train)

In [52]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [60]:
tfid = TfidfVectorizer()
x_train_tdif = tfid.fit_transform(X_train)
x_test_tdif = tfid.fit_transform(X_test)

In [68]:
from sklearn.svm import SVC

In [74]:
lr = SVC(kernel="linear")
lr.fit(x_train_tdif,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [75]:
y_pred = lr.predict(x_test_tdif)

In [76]:
from sklearn.metrics import accuracy_score

In [77]:
print(accuracy_score(y_test,y_pred))

0.004784688995215311